/* ./your-css-folder/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    @apply flex flex-wrap -mx-4;
}

.max-width {
    max-width: 1140px;
}
nav .nav-bar ul a::after,
.language ul a::after
{
    content: "";
    position: absolute;
    background-color: #ffc400;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav .nav-bar ul a:hover::after,
.language ul a:hover::after
{
    width: 100%;
}


.Work Sans{
    font-family: "Work Sans", sans-serif;
}
.san-sarif{
    font-family: 'Poppins', sans-serif;
}
input:checked + div {
    @apply bg-primary-color;
  }
  input:checked + div svg {
    @apply block;
  }
.footer-bg{
    background-color: #ffc400;
}
.line-h {
    line-height: 140%;
}
.card-color{
    background-color: #2b2b2b;
}
.form-color {
    background-color: #f3f4f7;
}
/*=========================== ehsan ========================== */

